*{ font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 0 178px 42px
}

.link-header {
    font-weight: 400px;
    font-size: 14px;
    line-height: 100%;
    color:#17233D;
    cursor: pointer;
    margin-right: 32px
}

.button-header{
    background: #4CB538;
    border-radius: 6px;
    width: 124px;
    height:51px;
    border: none;
    font-weight:67px;
    font-size:16px;
    line-height: 100%;
    color: #FFFFFF;
}
.teme-img{
    width: 595.18px;
    height: 500px;
    margin-left:121px;
    display: inline-block;
   
}

section{
    display: inline-block;
    margin-left: 84.82px;
}

h1{
    font-weight: 700px;
    font-size: 62px;
    line-height:82px ;
    color:#161A49;
    letter-spacing:0,6px;
    width: 582px;
    left: 801px;
    top:553px;

}

p{
    font-weight: 400px;
    font-size: 18px;
    line-height:33px ;
    color:#4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    letter-spacing: 0,5px;
    width:493px;
    height:99px;
    left:801px;
    top:553px;
  

}

.section-link {
    font-weight: 500px;
    font-size:18px;
    line-height: 100%;
    color:#6FBF44;
}

@media screen and (max-width: 400px){
    .link-header{
        display: none;
    }
    .button-header{
        width:91px;
        height: 31px;
        font-size:12px;
        position: absolute;
        right:15px;
        top: 23px;
    }

    .teme-img{
        width:312px;
        height:288px;
        position:absolute;
        top:490px;
        right:39px;
        

    }
   
    section{
        text-align:center;
        position:absolute;
        top:124px;
        position:absolute;
        right:43px;
    }

    h1{
        font-size: 30px;
        line-height: 30px;
        width: 278px;
    }
    
    p{
        width:304px;
    }

    .section-link{
      position:relative;
      top:26px;
      
    }
    }
}